* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    text-align: center;
}

body {
    background-color: lightblue;
}
ul {
    list-style: none;
}

li {
    border-bottom: 2px solid black;
    padding: 20px;
}

a {
    color: darkslategray;
    font-size: 1.5rem;
    text-decoration: none;
    border-bottom: 1px solid darkslategray;
    border-top: 1px solid darkslategray;
}

li:hover,
li:hover p {
    background-color: darkslategray;
    color: white;

}

li:hover a {
    color: yellow;
    border-color: yellow;
}

li p {
    margin-top: 20px;
    color: darkslategray;
    font-style: italic;
}


footer {
    padding: 30px;
}

footer p {
    color: darkslategray;
    padding-top: 10px;
    letter-spacing: 2px;
}

.techno {
    font-size: 2rem;
    font-weight: 700;
}