* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    text-align: center;
}

body {
    background-color: lightblue;
}

ul {
    list-style: none;
}

li {
    border-bottom: 2px solid black;
    padding: 30px;
}

li h1 {
    margin-bottom: 7vh;
    color: darkslategray;
    font-size: 2rem;
    border-bottom: 1px solid darkslategray;
    border-top: 1px solid darkslategray;

}

li p {
    margin: 5vh 0;
    color: darkslategray;
    font-style: italic;
}

li a {
    display: block;
    width: 30%;
    margin: 7vh auto 0;
    padding: 10px 30px;
    color: darkslategray;
    font-size: 1.5rem;
    text-decoration: none;
    border: 2px solid darkslategray;
    border-radius: 10px;
    letter-spacing: 3px;
}

@media (max-width: 880px) {
    li a {
        width: 80%;
        font-size: 1.3rem;
    }


    li:hover,
    li:hover p {
        background-color: darkslategray;
        color: white;
    }

    li:hover a,
    li:hover h1 {
        color: yellow;
        border-color: yellow;
    }

    footer {
        padding: 30px;
    }

    footer p {
        color: darkslategray;
        padding-top: 10px;
        letter-spacing: 2px;
    }

    .techno {
        font-size: 2rem;
        font-weight: 700;
    }